@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    width: 120px;
}
/* .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c8c5c5;
}

.logo {
    width: 120px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items ul{
    font-size: 18px;
    display: flex;
    list-style: none;
}

.nav-items ul li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 217px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid rgb(219, 213, 213);
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.filter-btn {
    margin: 12px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;

}

.filter-btn:hover{
    background-color: beige;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 180px;
    height: 400px;
    background-color: #f0f0f0;

}

.login{
    cursor: pointer;
    letter-spacing: .5px;
    border-radius: 5px;
    margin: 11px;
    font-size: 15px;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: none;
}
.filter{
    display: flex;
}

.search-box{
    margin: 5px;
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
}

.search-btn{
    padding: 4px;
    font-size: 14px;
    border-radius: 5px;
}

.res-cards{
    color: black;
    text-decoration: none;
}

.h-links {
    text-decoration: none;
    color: black;
} */